*.nav
*.snm
*.exe
*.eps
*.vpl
*.pdf
*.rsf
*.hh
*.png
*.jpeg
*.jpg
*.ltx
*.out
*.aux
*.log
*.gz
*.zip
*.tar
*.bz2
*.bbl
*.blg
*.pdfsync
*.lot
*.lof
*.cfg
*.toc
*.svn
*.pyc
*.h
*.o
*.vtk
*.cat
*.lbl
*.tab
*.DS_Store
*.rsfproj
*.sconsign
*.jnilib
*.jar
*.swp
sf*
jgodwin/nasa/mask.asc
